.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  font-family: "Gilroy-Light", Arial, Helvetica, sans-serif;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 31.5rem;
    background-color: #c7cce6;
    border-radius: 2rem;

    label {
      margin: 1.2rem 0;
      width: 19rem;
      display: flex;
      justify-content: flex-end;

      input {
        background-color: #f6f7f9;
        border-radius: 0.2rem;
        border: none;
        height: 1.5rem;
        margin-left: 0.5rem;
        padding: 0.2rem;
      }
    }

    button {
      margin: 1.2rem 0;
      font-family: "Gilroy-ExtraBold", Arial, Helvetica, sans-serif;
      font-size: 1rem;
      text-align: center;
      text-decoration: none;
      color: #c7cce6;
      background-color: #41278d;
      padding: 0.3rem 1rem;
      border-radius: 2rem;
      border: 0.3rem solid #41278d;
      cursor: pointer;

      &:hover {
        color: #88248b;
        background-color: #c7cce6;
        border: 0.3rem solid #88248b;
      }
    }
  }
}
