.floatingImage {
  position: absolute;
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  right: 0;
  top: 0;
  filter: drop-shadow(0 0 1rem #000000);
  border-radius: 2.5rem;
  padding: 1rem;
}
