.container {
  min-height: 11rem;
  position: relative;
  border-radius: 2.5rem 2.5rem 0 0;
  color: white;
  padding: 1.5rem 2rem 1.5rem 0;

  .arrow {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    transform: translate(0.9375rem, 0.75rem);
    border-width: 0.9375rem 0.9375rem 0 0.9375rem;
    border-color: transparent;
  }

  .textContainer {
    position: relative;
    overflow: hidden;
    max-width: 20.3125rem;
    height: 100%;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
