@use "./_fonts.scss";
@use "./_colors.scss";
@use "./_responsives.scss";

:root {
  --color-alpha: #{colors.$colorAlpha};
  --color-beta: #{colors.$colorBeta};
  --color-gamma: #{colors.$colorGamma};
  --color-delta: #{colors.$colorDelta};
  --color-epsilon: #{colors.$colorEpsilon};
  --color-zeta: #{colors.$colorZeta};
  --color-eta: #{colors.$colorEta};
  --color-theta: #{colors.$colorTheta};
  --color-iota: #{colors.$colorIota};

  --color-scrollbar-thumb: #{colors.$colorScrollbarThumb};
  --color-scrollbar-thumb-hover: #{colors.$colorScrollbarThumbHover};
}

html {
  scroll-behavior: smooth !important;
  overflow-x: hidden;

  @include responsives.VGA {
    font-size: 14px;
  }
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

body {
  background-color: var(--color-alpha);
  font-family: "Programme Light", sans-serif;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0;
  font-weight: 400;
  font-feature-settings: "ss07", "ss08", "ss11", "ss12", "ss14", "ss15", "ss16",
    "ss18", "ss19", "ss20", "ss21";
  line-height: 1.125;
  overflow-wrap: break-word;
  font-family: "Programme Normal", sans-serif !important;
}

.notFound {
  text-align: center;
  color: var(--color-eta);

  h1 {
    font-size: 3rem;
  }
}
