@use "../../../styles/mixins.scss" as mixins;
@use "../../../styles/fonts.scss" as fonts;
@use "../../../styles/colors.scss" as colors;

.container {
  @include mixins.flex_container(column, space-evenly, center);
  width: 100%;
  height: 6rem;
  background-color: colors.$brand-white;
  border-radius: 1.25rem;
  overflow: hidden;
  margin: 1rem 0;
  font-family: fonts.$gilroy-extra-bold;
}
