.container {
  width: 30rem;
  height: 48.375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //filter: drop-shadow(0rem 0rem 0.625rem #f7f7f744);
}

.bandInfo {
  padding: 2rem 1rem 1rem 1rem;
  background-color: #f7f7f7;
  height: 100%;
  border-radius: 0 0 2.5rem 2.5rem;

  .about {
    padding: 1rem;
    background-color: white;
    color: black;

    h3 {
      margin-top: 0;
      font-size: 0.875rem;
      line-height: 1.45rem;
      font-weight: 400;
    }

    p {
      margin: 0;

      span {
        font-family: "Programme Normal", sans-serif;
      }
    }
  }

  .albums {
    h3 {
      margin-top: 2.25rem;
      margin-bottom: 0.5rem;
      color: #9a9a9a;
      font-size: 0.875rem;
    }

    .grid {
      background-color: white;
      border-radius: 0 0 2.5rem 2.5rem;
      display: grid;
      grid-template-columns: 8.125rem 1fr 8.125rem;
      row-gap: 1rem;
      padding: 1rem;

      .album {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 10.4375rem;
        text-align: center;

        img {
          width: 8.125rem;
          height: 8.125rem;
        }

        p {
          margin: 0;
          font-size: 0.75rem;
        }

        .year {
          color: #9a9a9a;
        }
      }
    }
  }
}
