@use "@styles/_mixins.scss" as mixins;
@use "@styles/_responsives.scss" as responsives;

.container {
  @include mixins.flex_container(column, space-between, auto);
  width: 30rem;
  height: 48.375rem;
  position: relative;
}

.bandInfo {
  padding: 2rem 1rem 1rem 1rem;
  background-color: var(--color-beta);
  height: 100%;
  border-radius: 0 0 2.5rem 2.5rem;

  .about {
    padding: 1rem;
    background-color: white;
    color: black;

    h3 {
      margin-top: 0;
      font-size: 0.875rem;
      line-height: 1.45rem;
      font-weight: 400;
    }

    p {
      margin: 0;

      span {
        font-family: "Programme Normal", sans-serif;
      }
    }
  }

  .albums {
    h3 {
      margin-top: 2.25rem;
      margin-bottom: 0.5rem;
      color: var(--color-zeta);
      font-size: 0.875rem;
    }

    .grid {
      background-color: white;
      border-radius: 0 0 2.5rem 2.5rem;
      display: grid;
      grid-template-columns: 8.125rem 1fr 8.125rem;
      row-gap: 1rem;
      padding: 1rem;

      .album {
        @include mixins.flex_container(column, space-between, center);
        height: 10.4375rem;
        text-align: center;

        img {
          width: 8.125rem;
          height: 8.125rem;
        }

        p {
          margin: 0;
          font-size: 0.75rem;
        }

        .year {
          color: var(--color-zeta);
        }
      }
    }
  }
}

@include responsives.VGA {
  .container {
    height: 100svh;
    width: 100%;
    padding: 1rem;
  }
}

/* .shadow {
  position: absolute;
  width: 8rem;
  height: 8rem;
  //background-color: rgba(0, 0, 0, 0.404);
  background-color: red;
  right: 3%;
  top: 2%;
  filter: drop-shadow(0 0 1rem #000000);
  border-radius: 2.5rem;
}
 */
