@use "@styles/_mixins.scss" as mixins;

.animatedContainer {
  position: absolute;
  width: 100%;

  h1 {
    width: calc(100% - 2rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  a {
    display: block;
    width: fit-content;
    padding: 0;
    position: relative;
    text-decoration: underline;
    text-decoration-color: white;
    font-size: 1.125rem;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    cursor: pointer;

    p {
      margin: 0;
      font-size: 1.125;
      color: white;
      font-weight: 100;
    }

    &:hover {
      text-decoration: none;
    }

    svg {
      top: 0;
      fill: white;
      width: 0.6162rem;
      position: absolute;
      margin-left: calc(-0.548625em);
      right: 0;
    }
  }
}

.bandAka {
  margin-top: 1.34rem;
}

.albumInfo {
  p {
    color: var(--color-zeta);
    font-family: "Programme Normal", sans-serif;
    margin-bottom: 0.48rem;
  }
}

.songInfo {
  width: calc(100% - 2rem);
  @include mixins.flex_container(row, auto, center);
  flex-wrap: wrap;

  > p {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
  }

  p {
    font-family: "Programme Light", sans-serif;
  }
}
