.absoluteContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 2rem 1rem 0rem 1rem;

  .title {
    padding: 0 1rem;
    margin-top: 0;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
    color: var(--color-zeta);
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Programme Normal", sans-serif;
  }

  .tracklist {
    margin: 0;
    padding: 0;

    .track {
      margin: 0;
      list-style: none;

      border-bottom: 0.0625rem solid var(--color-iota);
      padding-left: 0.5rem;
      margin: 0 1rem;
      transition: background-color 200ms;

      &:hover {
        background-color: var(--color-theta);
      }

      button {
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0.5rem 0;
        height: 100%;
        width: 100%;
        cursor: pointer;

        p {
          display: flex;
          font-size: 1.125rem;
          font-family: "Programme Normal", sans-serif;
          font-feature-settings: "ss07", "ss08", "ss11", "ss12", "ss14", "ss15",
            "ss16", "ss18", "ss19", "ss20", "ss21";
          margin: 0;

          span {
            color: var(--color-zeta);
            width: 2.5rem;
            display: block;
          }
        }
      }
    }
  }
}
