.absoluteContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 2rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;

  .title {
    padding: 0 1rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    color: var(--color-zeta);
    font-family: "Programme Normal", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    height: fit-content;
    letter-spacing: 0.04em;
  }

  .tracklist {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    height: 100%;

    .track {
      margin: 0;
      list-style: none;

      border-bottom: 0.0625rem solid var(--color-iota);
      padding-left: 0.5rem;
      margin: 0 1rem;
      transition: background-color 200ms;

      &:hover {
        background-color: var(--color-theta);
      }

      button {
        display: flex;
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0.5rem 0;
        height: 100%;
        width: 100%;
        cursor: pointer;

        p {
          margin: 0;
          font-family: "Programme Normal", sans-serif;
          font-size: 1.125rem;
        }

        .index {
          color: var(--color-zeta);
          width: 2.5rem;
          display: block;
        }

        .name {
          font-feature-settings: "ss07", "ss08", "ss11", "ss12", "ss14", "ss15",
            "ss16", "ss18", "ss19", "ss20", "ss21";
          text-align: start;
          color: black;
        }
      }
    }
  }
}
