@use "../../../styles/mixins.scss" as mixins;
@use "../../../styles/fonts.scss" as fonts;
@use "../../../styles/variables.scss" as var;

.container {
  @include mixins.flex_container(row, center, center);
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 1000;
  bottom: 0;

  .navBar {
    @include mixins.flex_container(row, space-between, center);
    height: auto;
    width: auto;
    padding: 0.7rem 0;
    margin-bottom: 2rem;
    background-color: #c7cce6;
    border-radius: 1.25rem;

    .default,
    .active {
      @include mixins.flex_container(row, center, center);
      width: 3.5rem;
      height: 3.5rem;
      padding: 0.35rem;
      cursor: crosshair;
      margin: 0 0.7rem;
    }

    .default {
      color: #41278d;
      transition: color 0.2s ease-in-out;
    }

    .active {
      background-color: #41278d;
      border-radius: 0.9rem;
      color: #c7cce6;
      transition: background-color 0.2s ease-in-out;
    }
  }
}
