@use "../../../styles/mixins.scss" as mixins;
@use "../../../styles/fonts.scss" as fonts;
@use "../../../styles/colors.scss" as colors;
@use "../../../styles/responsives.scss" as responsives;

.container {
  @include mixins.flex_container(column, flex-start, center);
  width: 100%;
  background-color: colors.$brand-ice;
  border-radius: 1.25rem;
  overflow: hidden;
  color: colors.$team-violet-dark;
  padding-bottom: 2rem;

  h1 {
    margin: 2rem 0 1.5rem 0;

    @include responsives.MOBILE {
      font-size: 1.7rem;
    }
  }

  .roster {
    @include mixins.flex_container(row, center, center);
    flex-wrap: wrap;
    width: 100%;
    font-size: 0.938rem;

    .benched {
      opacity: 0.3;
    }

    .player {
      @include mixins.flex_container(column, flex-start, center);
      background-color: colors.$brand-ice;
      border-radius: 0.438rem;
      width: 17rem;
      height: 16.2rem;
      margin: 0.5rem;
      padding: 0.625rem 0;

      @include responsives.MOBILE {
        height: auto;
        width: 10rem;
      }

      .imageContainer {
        @include mixins.flex_container(row, center, center);
        width: 100%;
        position: relative;

        @include responsives.MOBILE {
          height: 120px;
        }

        .backgroundLogo {
          position: absolute;
          top: 0;
          -webkit-filter: blur(0.125rem);
          filter: blur(0.125rem);
          z-index: 0;

          @include responsives.MOBILE {
            min-width: auto !important;
            min-height: auto !important;
            height: 120px !important;
            width: 120px !important;
          }
        }

        .playerImage {
          height: 100%;
          position: absolute;
          top: 0;
          z-index: 1;
        }
      }

      .playerName {
        @include mixins.flex_container(row, center, center);
        width: 100%;
        margin: 0.5rem 0;
        font-family: fonts.$gilroy-extra-bold;

        span {
          margin-left: 0.625rem;
        }
      }

      .playerFullName {
        @include mixins.flex_container(row, center, center);

        @include responsives.MOBILE {
          @include mixins.flex_container(column, center, center);
        }

        .space {
          margin: 0.1rem;
          @include responsives.MOBILE {
            display: none;
          }
        }
      }

      .benchedTxt {
        font-family: fonts.$gilroy-extra-bold;
        margin-top: 0.5rem;

        @include responsives.MOBILE {
          margin-bottom: -0.5rem;
        }
      }
    }
  }
}
