@use "../../styles/mixins.scss" as mixins;
@use "../../styles/fonts.scss" as fonts;

.containerRow,
.containerColumn {
  font-size: 0.938rem;
}

.containerRow {
  @include mixins.flex_container(row, center, center);

  .teamName {
    margin-left: 0.938rem;
  }
}

.containerColumn {
  @include mixins.flex_container(column, center, center);

  .teamName {
    margin-top: 0.313rem;
  }
}

.bigLetters {
  font-size: 1.2rem;
}
