@use "../../../styles/mixins.scss" as mixins;
@use "../../../styles/fonts.scss" as fonts;
@use "../../../styles/colors.scss" as colors;

.container {
  @include mixins.flex_container(column, space-evenly, center);
  width: 100%;
  height: 6rem;
  background-color: colors.$brand-ice;
  border-radius: 1.25rem;
  overflow: hidden;
  margin: 1rem 0;
  font-family: fonts.$gilroy-light;

  .lostGame {
    color: maroon;
  }

  .winnedGame {
    color: green;
  }

  .generalStats {
    color: colors.$brand-dark;

    span {
      color: colors.$team-violet-dark;
      font-family: fonts.$gilroy-extra-bold;
    }
  }

  .generalStats,
  .lastFive {
    @include mixins.flex_container(row, space-evenly, center);
    width: 100%;
  }

  .lastFive {
    font-family: fonts.$gilroy-extra-bold;
  }
}
